

body{
    margin : 0;
    background-color:  #EEE5E9;
    font-family: 'Louis George Cafe';
}

header{
    background-color: #36393F;
    height: 5rem;
    width : 100%;
    
}
 
header a {
    color : white;
}

a{
     text-decoration: none;
     
 }

 .login, .register{
        margin: 10% auto;
        background-color: #36393F;
        width: 800px;
        height: 500px;
        color : white;
    
 }

 .login-input, .register-input{
 background-color: #36393F;
height: 2rem;
width: 20rem;
color: white;
   
 }

 .login-input{
    border: solid #4DB8E6 2px;
 }

 .register-input{
    border: solid #FB4369 2px;
 }
 .login-input::placeholder, .register-input::placeholder{
     color : white;
 }

 .justify-content-center{
     text-align: center;
 }

 .login-row, .register-row{
    margin: 3%;
 }

 .login-btn, .register-btn{
    width: 10rem;

    border: none;
    height: 2rem;
 }

 .register-btn{
    background-color: #FB4369;
 }

 .login-btn{
    background-color: #4DB8E6;
 }
 .card-header{
     font-size : 3rem;
     padding: 5% 0;
 }

 .last-series{
     width : 210px;
     height: 295px;
     background-color: #4DB8E6; 
 }

 .last-series-container{
     display: flex;
     justify-content: space-around;
 }